<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL57Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mariadb://MY_DATABASE
        </property>
        <property name="hibernate.connection.username">
            MY_USER
        </property>
        <property name="hibernate.connection.password">
            MY_PASSWORD
        </property>

        <mapping resource="mappings/Token.hbm.xml"/>
        <mapping resource="mappings/User.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
